<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html> <head> <title> {% block headtitle %}no3z productionz website{% endblock %} </title> <link href='/media/style2.css' rel='stylesheet' type='text/css'> </head>
<body> 
<div id="no3zlogo"> 
<table width="860" border ="0" align="center"> <tr> <td colspan="3"></td> 
<td align="center" class="logo"> <a href='/'> <img src='/media/no3z.jpg' description="no3z.com the no3z productionz web page for your viewing pleasure." border="0"></a></img></td>
<td></td></tr></table>
</div>
<div class='header' align="center">{%block header %} <a>no3z.com - {% block title %}{% endblock %} {% endblock %}</div>
<div class='headerbar' align="center"> {% render_user_link current_uri %}</div></a>   
<div class='content'>{% block content %}{% endblock %}</div>
</body>
</html>