<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>no3z productionz.</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta name="keywords" content="no3z productionz">
<meta name="description" content="Website for no3z productionz.">
<meta name="resource-type" content="Document">
<meta name="document-state" content="Static">
<meta name="document-class" content="Completed">
<meta name="document-classification" content="Internet Services">
<meta name="title" content="no3z productionz web site">
<meta name="language" content="English">
<meta name="author" content="no3z ">
<meta name="robots" content="all">
<meta name="document-rights" content="Public Domain">
<meta name="document-type" content="Public">
<meta name="document-rating" content="General">
<meta name="document-distribution" content="Global">
<meta HTTP-EQUIV=Pragma content=cache>
<meta name="cache-control" content="no-cache">
<meta name="revisit-after" content="1 day">
<link rel="shortcut icon" href="media/favicon.ico" />
<link rel="stylesheet" href="media/style.css" />
<title>no3z</title>
</head><body onLoad="init()"><div id="logotype"><table width="930" border ="0" align="center"><tr><td colspan="3"></td><td align="center" class="logo"><a href='/'><img src='media/no3z.jpg' description="no3z.com aggregator for finely find links." border="0"></a></img></td><td></td></tr></table></div>
<div id="optioner"><table width="860" border ="0" align="center"><tr><td colspan="4"></td>
<td  border="0" align="center" ><a description="RAndomize on the main page."  href='/'>MAIN</a></td>
<td  border="0" align="center" ><a description="Throw those youtube feeds." href='/video'>VIDEO</a></td>
<td  border="0" align="center" ><a description="GEt those links on fire." href='/links'>LINKS</a></td>
<td  border="0" align="center" ><a description="About this and other pages." href='/about'>ABOUT</a></td>
</tr></table></div><table width="860" border ="0" align="center"><tr> <td colspan="2"> </td></tr><tr></tr><tr><td width="300" valign="top">{% if updates %}<ul>{% for update in updates %} {% ifequal forloop.counter 14 %}</ul></td><td width="300" valign="top"><ul>{% endifequal %}
<li><a id="images{{ forloop.counter }}" href={{ update.url }} {% if update.osize %} name=/image/{{ update.key }} {% else %} name=/thumbnail/{{ update.key }} {% endif %} description="&lt;a href=&quot;{{ update.url }}&quot;&gt;&lt;img vspace=&quot;4&quot; hspace=&quot;4&quot; border=&quot;0&quot; align=&quot;RIGHT&quot; src=&quot;/thumbnail/{{ update.key }}&quot;/&gt;&lt;/a&gt; &lt;p&gt;&lt;a href=&quot;{{ update.url }}&quot; title=&quot;{{ update.author }} permalink&quot;&gt;&lt;img width=&quot;11&quot; height=&quot;12&quot; src=&quot; /thumbnail/{{ update.key }}&quot; /&gt;&lt;/a&gt;{{ update.title }} / &lt;a href=&quot;{{ update.url }} &quot;&gt;&lt;/a&gt;:&lt;br br /&gt;&lt;b&gt;&lt;a href=&quot;{{ update.url }}/&quot;&gt;{{ update.caption }}" type="{{ update.tags }}" title="{{ update.title }}"> 
{{ update.title }} </a><br> </li> {% if forloop.last %} <images_count id="images_count">{{ forloop.counter }}</images_count> {% endif %} {% endfor %} {% endif %}</ul> </td> </tr> </tbody> </table>
<div id="canvas"></div>
<script src='media/js/protoclass.js'></script>
<script src='media/js/box2d.js'></script>
<script src='media/js/Main.js'></script>
<script src="media/js/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="media/js/jquery.qtip-1.0.0-rc3.min.js" type="text/javascript"></script>
<script type="text/javascript">
  init(); $('[description]').each(function() { $(this).qtip({ content:  $(this).attr('description'), position: { corner: { target: 'bottomMiddle', tooltip: 'topLeft' }, adjust: { screen: true } },  style: {  width: 350, border: { width: 4, radius: 5 }, show: false, tip: 'topMiddle', name: 'cream', fontSize: '11px', color: 'black', fontFamily: 'Arial, Helvetica, sans-serif' } });})  
  $('[description]').each(function() { $(this).qtip({ content: { text: $(this).attr('description'),prerender: true }, solo: true,show: false, style: { width: 350, border: { width: 4, radius: 5 }, show: false, tip: 'topLeft', name: 'cream', fontSize: '11px', color: 'black', fontFamily: 'Arial, Helvetica, sans-serif'} });})
</script>
</body>
</html>




